/*----------------------------------resetcss----------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/*-- HTML5 display-role reset for older browsers --*/

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*----------------------------------------------------------------------------*/

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: -webkit-linear-gradient(SlateBlue, RoyalBlue);
  background: linear-gradient(SlateBlue, RoyalBlue);
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5em;
}

input {
  width: 95%;
  border: 0px;
  font-size: 1em;
}

.bg1 {
  background-color: white;
  margin: 5px;
  padding: 5px;
}

.entry {
  border-left: 4px RoyalBlue solid;
  padding-left: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: black;
}

#menu {
  border-radius: 4px;
  background: #152d52;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

#menu, #menu ul {
  width: 100%;
  height: 100%;
  transform: scale(.9);
}

#menu ul li {
  display: table;
  width: 100%;
  height: calc(100% /5);
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

#menu ul li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#menu ul li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}

#menu ul li a {
  padding: 20px;
  outline: none;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 0.1em;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, .5);
  font-weight: 400;
}

#menu ul li a:hover {
  background: RoyalBlue;
}

#submitcv {
  background: #152d52;
  color: white;
  width: 100%;
  margin: 10px 0;
}

#submitcv:hover {
  background: RoyalBlue;
}

#cvchange {
  background: #152d52;
  color: white;
  width: 100%;
  margin: 10px 0;
}

#vehicle_type {
  background: #152d52;
  color: white;
  width: 100%;
  margin: 10px 0;
}

#carchange {
  text-decoration: none;
  color: white;
}

#bluebutton {
  border: 0px;
  background: #152d52;
}

#bluebutton:hover {
  border: 0px;
  background: RoyalBlue;
}

#submit {
  background: #152d52;
  color: white;
  width: 100%;
  margin: 10px 0;
}

#submit:hover {
  background: RoyalBlue;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  outline: none;
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.form {
  background: #152d52;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #fff;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  margin-top: 20px;
}

.tab-group li a:hover {
  background: RoyalBlue;
  color: #fff;
}

.tab-group .active a {
  background: RoyalBlue;
  color: #fff;
}

.tab-content>div:last-child {
  display: none;
}

h1 {
  font-size: 5vh;
  text-align: center;
  color: #fff;
  font-weight: 600;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}

label .req {
  margin: 2px;
  color: RoyalBlue;
}

label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

label.active .req {
  opacity: 0;
}

label.highlight {
  color: #fff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: RoyalBlue;
}

textarea {
  border: 2px solid RoyalBlue;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row>div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.top-row>div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: rgba(160, 179, 176, 0.25);
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.button:hover, .button:focus {
  background: RoyalBlue;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  font-size: 18px;
  margin-top: -20px;
  text-align: right;
}

a .link {
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
}

#fees_type {
  background: #152d52;
  color: white;
  width: calc(100% - 80px);
  margin: 10px 0;
}

#type_vehicle {
  background: #152d52;
  color: white;
  width: 100%;
  margin: 10px 0;
}

#payment {
  background: #152d52;
  color: white;
  width: 100%;
  margin: 10px 0;
}

#submitprofile {
  background: #152d52;
  color: white;
  width: 100%;
  margin: 10px 0;
}

#submitprofile:hover {
  background: RoyalBlue;
}

#vehicle_type {
  width: 100%;
}

#add_car {
  color: white;
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
  border: 0px;
  background: #152d52;
}

#add_car:hover {
  border: 0px;
  background: RoyalBlue;
}

#submitvehicle {
  background: #152d52;
  color: white;
  width: 100%;
  margin: 10px 0;
}

#submitvehicle:hover {
  background: RoyalBlue;
}

.bg1 p {
  border-bottom: solid 1px black;
  margin: 2px 10px 0 5px;
}

.bg1 p:nth-child(1) {
  display: inline-grid;
}

.bg1 p:nth-child(2) {
  display: inline-grid;
}

.bg1 p:last-child {
  border-bottom: 0;
  font-weight: bold;
  margin-top: 10px;
  text-align: right;
}
